*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mac
.DS_Store

# Zip Archives
*.bz2

# Clawpack data files
*.data
*.tt3
*.tt2
*.tt1
*.xyzt

# Figures
*.gif

# Latex 
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fdb_latexmk
paper/*.out
paper/paper.pdf
paper/*.spl